.characters {
    width: 35%;
    margin: 10px auto;
    padding-bottom: 20px;
    border: 2px solid #593023;
    border-radius: 20px;
    opacity: .8;
    background-color: #593023;
    color: #ffffff;
}

h2 {
    letter-spacing: 2px;
    font-weight: 100;
}

.info {
    display: flex;
    flex-direction: column;
}